<div class="my-custom-container">
  <div class="close-btn-placement">
    <button mat-stroked-button color="warn" class="close-btn" (click)="closeDialog()">Close</button>
  </div>
  <div class="form-field-placement" [formGroup]="createPatientForm">
    <mat-form-field appearance="fill" color="accent" formControlName="ssnControl">
      <mat-label>SSN</mat-label>
      <input matInput placeholder="1234567899" maxlength="10">
    </mat-form-field>
    <mat-form-field appearance="fill" color="accent" formControlName="emailControl">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Example@gmail.com">
    </mat-form-field>
    <mat-form-field appearance="fill" color="accent" formControlName="nameControl">
      <mat-label>Name</mat-label>
      <input matInput placeholder="John Doe">
    </mat-form-field>
  </div>
    <button [disabled]="createPatientForm.hasError()" mat-raised-button color="primary" class="create-btn">Create</button>
</div>
