<div class="content mat-elevation-z8">
  <div>
    <div class="add-btn-placement">
      <button mat-mini-fab matTooltip="Create Patient" color="primary" matTooltipPosition="left"
              (click)="openCreatePatientDialog()" [disabled]="countryStore.$country().name === ''">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput #input>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource"
           cdkDropList
           id="patients-table"
           [cdkDropListData]="selectedPatient()"
           cdkDropListConnectedTo="selectedPatient"
           cdkDropListSortingDisabled>

      @for (header of displayedColumns; track $index) {
        <ng-container [matColumnDef]="header">
          <th mat-header-cell *matHeaderCellDef>{{ header }}</th>
          @if (header === 'action') {
            <td class="drag-row" mat-cell *matCellDef="let patient">
              <button mat-icon-button class="delete-button" (click)="deletePatient(patient['ssn'])" [disabled]="countryStore.$country().name === ''"><mat-icon >delete</mat-icon></button>
            </td>
          }
          <td class="drag-row" mat-cell *matCellDef="let patient">{{ patient[header] }}</td>

        </ng-container>
      }



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row class="drag-row" *matRowDef="let row; columns: displayedColumns;" cdkDrag
          (mousedown)="setSelectedPatient(row)"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the search: "{{ input.value }}"</td>
      </tr>
    </table>
    @if (loading()) {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }

    <mat-paginator
      [pageSize]="pageSize"
      (page)="pageChangeEvent($event)"
      [length]="totalCount"
      [pageIndex]="pageNumber"
      showFirstLastButtons>
    </mat-paginator>
  </div>
</div>



