.content {
  display: flex;
  height: 20vh;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

img {
  height: auto;
  width: 70%;
}

.change-country-content {
  display: flex;
  margin-right: 30px;
  flex-direction: column;
}
